:root {
  --font-primary: "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  min-width: 320px;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #040d21;
    position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/Group\ 11.svg") center/cover no-repeat;
}

/* Stars wonderland begins here*/
.signup-space,
.signup-stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.signup-stars {
  background-image: radial-gradient(
      2px 2px at 10px 20px,
      #97d2f0,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #1dabf5, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #4e6c82, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0;
  animation: zoom 15s infinite;
}

.signup-stars:nth-child(1) {
  background-position: 50% -40%;
  animation-delay: 0s;
}

.signup-stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 2s;
}

.signup-stars:nth-child(3) {
  background-position: 40% -80%;
  animation-delay: 4s;
}

.signup-stars:nth-child(4) {
  background-position: -20% -30%;
  animation-delay: 6s;
}

.signup-stars:nth-child(5) {
  background-position: 80% 30%;
  animation-delay: 8s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 1;
    transform: scale(1.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}

div.welcome {
    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 30vw);
    width: 60vw;
    height: 60vh;
    background: rgba(78, 108, 130, 0.27);
    border-radius: 40px;
}

/* 743 */
.welcome h2 {
    position: absolute;
    top: -100px;
    font-size: 4rem;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}

.welcome .type-name {
    padding: 24px;
}

.type-name .cohete {
    font-size: 8rem;
    text-align: center;
    padding-bottom: 16px;
}

.welcome .type-name p {
    font-size: 2rem;
    font-weight: 500;
    color: #E4E4E4;
    text-align: center;
    padding: 0 20px;
}

.name-user {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.name-user input.name {
    border: none;
    padding: 8px 20px;
    outline: none;
    width: 400px;
    border-radius: 12px;
    font-size: 2rem;
    font-family: var(--font-primary);
    background: transparent;
    color: #fff;
}









































div#app {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }


@media (prefers-reduced-motion) {
  .signup-stars {
    animation: none;
  }
}
