:root {
  --font-primary: "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  min-width: 320px;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #040d21;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/Group\ 11.svg") center/cover no-repeat;
}

/* Stars wonderland begins here*/
.signup-space,
.signup-stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.signup-stars {
  background-image: radial-gradient(
      2px 2px at 10px 20px,
      #97d2f0,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #1dabf5, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #4e6c82, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0;
  animation: zoom 15s infinite;
}

.signup-stars:nth-child(1) {
  background-position: 50% -40%;
  animation-delay: 0s;
}

.signup-stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 2s;
}

.signup-stars:nth-child(3) {
  background-position: 40% -80%;
  animation-delay: 4s;
}

.signup-stars:nth-child(4) {
  background-position: -20% -30%;
  animation-delay: 6s;
}

.signup-stars:nth-child(5) {
  background-position: 80% 30%;
  animation-delay: 8s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 1;
    transform: scale(1.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}

#start-one {
  display: none;
}

div.welcome {
  position: absolute;
  top: calc(50% - 25vh);
  left: calc(50% - 30vw);
  width: 60vw;
  height: 60vh;
  background: rgb(0 0 0 / 12%);
  /* background: rgba(78, 108, 130, 0.27); */
  /* background: rgba(12, 22, 45, 0.5); */
  border-radius: 40px;
}

/* 743 */
.start-one h2 {
  position: relative;
  z-index: 4;
  padding-top: 80px;
  font-size: 4rem;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
}

.welcome .type-name {
  padding: 24px;
}

.type-name .cohete {
  font-size: 8rem;
  text-align: center;
  padding-bottom: 16px;
}

.welcome .type-name p {
  font-size: 2rem;
  font-weight: 500;
  color: #e4e4e4;
  text-align: center;
  padding: 0 20px;
}

.name-user {
    position: relative;
}

.name-user .enter-name {
  display: flex;
  place-content: center;
  padding-top: 40px;
}

.name-user p.arrow {
  font-size: 3.2rem;
    color: #EE00F7;
}

.name-user input.name {
  border: none;
  padding: 8px 20px;
  outline: none;
  width: 400px;
  border-radius: 12px;
  font-size: 2rem;
  font-family: var(--font-primary);
  background: transparent;
  color: #fff;
}

.name-user .btn-main {
  padding: 0 28px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  /* background: linear-gradient(90.25deg, #1dabf5 2.56%, #97d2f0 99.78%); */
  /* background: linear-gradient(90.25deg, #97D2F0 2.56%, #1DABF5 29.1%, #1DABF5 76.7%, #97D2F0 99.78%); */
  background: #1dabf5;
}

.name-user .btn-main:hover {
  transition: all 0.3s ease-in;
  /* background: #E900F0; */
  background: #0090de;
}



/**** Card ****/


div#app {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;
  position: relative;
  z-index: 5;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100vh;

}

div#app img.card-image {
  width: 160px;
  height: 200px;
  object-fit: cover;
  outline: none;
  border-radius: 12px;
  position: relative;
}
g


 /* div#image {
  width: 160px;
  height: 200px;
  border: none;
  border-radius: 12px;
  background: url(./images/Group\ 23.png) center/cover no-repeat;
}
 */



/* .game-card-under-verification{
  background-color:white;
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
  transform: rotateY(360deg);
  transition: 0.3s;
  transform-style: preserve-3d;
}

.game-card-revealed{
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
  opacity: 0.5;
  background-color:white;
}
 */










































@media (prefers-reduced-motion) {
  .signup-stars {
    animation: none;
  }
}
