:root {
  --font-primary: "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  min-width: 320px;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #040d21;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/Group\ 11.svg") center/cover no-repeat;
}

/* Stars wonderland begins here*/
.signup-space,
.signup-stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.signup-stars {
  background-image: radial-gradient(
      2px 2px at 10px 20px,
      #97d2f0,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #1dabf5, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #4e6c82, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0;
  animation: zoom 15s infinite;
}

.signup-stars:nth-child(1) {
  background-position: 50% -40%;
  animation-delay: 0s;
}

.signup-stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 2s;
}

.signup-stars:nth-child(3) {
  background-position: 40% -80%;
  animation-delay: 4s;
}

.signup-stars:nth-child(4) {
  background-position: -20% -30%;
  animation-delay: 6s;
}

.signup-stars:nth-child(5) {
  background-position: 80% 30%;
  animation-delay: 8s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 1;
    transform: scale(1.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}

/* #start-one {
  display: block;
} */

div.welcome {
  position: absolute;
  top: calc(50% - 25vh);
  left: calc(50% - 30vw);
  width: 60vw;
  height: 60vh;
  background: rgb(0 0 0 / 12%);
  /* background: rgba(78, 108, 130, 0.27); */
  /* background: rgba(12, 22, 45, 0.5); */
  border-radius: 40px;
}

/* 743 */
.start-one h2 {
  position: relative;
  z-index: 4;
  padding-top: 80px;
  font-size: 4rem;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
}

.welcome .type-name {
  padding: 24px;
}

.type-name .cohete {
  font-size: 8rem;
  text-align: center;
  padding-bottom: 16px;
}

.welcome .type-name p {
  font-size: 2rem;
  font-weight: 500;
  color: #e4e4e4;
  text-align: center;
  padding: 0 20px;
}

.name-user {
    position: relative;
}

.name-user .enter-name {
  display: flex;
  place-content: center;
  padding-top: 40px;
}

.name-user p.arrow {
  font-size: 3.2rem;
    color: #EE00F7;
}

.name-user input.name {
  border: none;
  padding: 8px 20px;
  outline: none;
  width: 400px;
  border-radius: 12px;
  font-size: 2rem;
  font-family: var(--font-primary);
  background: transparent;
  color: #fff;
}

.name-user .btn-main {
  padding: 0 28px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  /* background: linear-gradient(90.25deg, #1dabf5 2.56%, #97d2f0 99.78%); */
  /* background: linear-gradient(90.25deg, #97D2F0 2.56%, #1DABF5 29.1%, #1DABF5 76.7%, #97D2F0 99.78%); */
  background: #1dabf5;
}

.name-user .btn-main:hover {
  transition: all 0.3s ease-in;
  /* background: #E900F0; */
  background: #0090de;
}



/**** Card ****/

.nextToLevel {
  display: none;
  font-size: 6rem;
  /* ##f34c28  #f56f28 */
  position: absolute;
  top: 4%;
  left: calc(50% - 580px);
}

.one {
  color: #fff498;
}

.two{
  color: #f56f28;
}

.three {
  color: #f34c28;
}



div#app {
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;
  position: relative;
  z-index: 5;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100vh;

}

div#app img.card-image {
  width: 160px;
  height: 200px;
  object-fit: cover;
  outline: none;
  border-radius: 12px;
  position: relative;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

 div#image {
  width: 160px;
  height: 200px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background: url(./images/Frame\ 3.svg) center/cover no-repeat;
}

img.card-image:hover {
  transform: scale(1.2);
}









.disabled {
  display: none !important;
}


.enable {
  display: grid !important;
}
















.wobble-ver-right:hover {
	-webkit-animation: wobble-ver-right 0.8s both;
	        animation: wobble-ver-right 0.8s both;
}

@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
            transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
            transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
            transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
            transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
            transform: translateY(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
            transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
            transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
            transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
            transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
            transform: translateY(-6px) rotate(1.2deg);
  }
}

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}







.bounce-in-right {
	-webkit-animation: bounce-in-right 1.1s both;
	        animation: bounce-in-right 1.1s both;
}



@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}





.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}













@media (prefers-reduced-motion) {
  .signup-stars {
    animation: none;
  }
}
